/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

body {
  background: transparent;
}
.button-notice {
  line-height: 1;
}
.buttons a.button {
  width: 100%;
  margin-bottom: 0.5em;
}

.nominee {
    min-height: 23em;
}

section[role="main"] {
  margin-top: 4em;
  margin-left: 1em;
  margin-right: 1em;
}

.instructions .alert-box {
  display:none;
}
.f-dropdown .active {
  font-weight: bold;
}